 @model Despesas


@{
    ViewData["title"] = "Atualização de Despesas";
}

@section Styles {
    <link rel="stylesheet" href="/css/formularioDespesas.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/PopUp.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
}


<div class="card-form">
    <h2>Atualização de Despesas</h2>

    <form asp-controller="Despesas" asp-action="Alterar" method="post">

        <input type="hidden" asp-for="Id"/>

        <div class="form-group">
            <label for="despesa">Despesa</label>
            <input type="text" id="despesa" asp-for="Despesa" required>
        </div>

        <div class="form-group">
            <label for="observacoes">Observações</label>
            <textarea typeof="" id="observacoes" asp-for="Observacao"></textarea>
        </div>

        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="text" id="valor" asp-for="Valor" required>
        </div>

        <div class="form-group">
            <label for="vencimento">Vencimento</label>
            <input type="date" id="vencimento" asp-for="Vencimento" required>
        </div>

        <div class="form-actions">
            <button type="submit" class="save"><i class="bi bi-box-arrow-in-up mx-2"></i>Atualizar</button>
            <button type="button" class="back">
                <a class="link" asp-controller="Despesas" asp-action="Index"><i class="bi bi-back mx-2"></i>Voltar</a>
            </button>
        </div>
    </form>
</div>

